html {
    background-color: rgb(255, 242, 224);
    color: black;
}

@font-face {
    font-family: bryllupsfont;
    src: url(Dita-Sweet.ttf);
}

body {

    background-image: url(./bakgrunn-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;

}

main {

    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 0 auto;

}


h1, h2, h3 {
    font-family: bryllupsfont;
    font-weight:600;
}

h1 {
    font-size: 3rem;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}

a {
    margin: auto;
}

button {
    background-color: rgba(255, 255, 255, 0.555);
    color: goldenrod;
    height: 60px;
    border-radius: 10px;
    border-style: double;
    border-color: goldenrod;
    font-family: bryllupsfont;
    font-size: 1.4rem;
    padding: 10px 30px;
}

.image-container {
    width: 60%;
    margin: 0 auto;
}

#logo {
    width: 100%;
    height: auto;
    padding-top: 300px;
    padding-bottom: 300px;
}

.velkommen {
    padding-bottom: 50px;
    width: 100%;
}

.tittel {
    padding-bottom: 30px;
    text-align: center;

}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    padding-bottom: 30px;
}

li {
    padding-top: 10px;
}

.skjema {
    padding-top: 50px;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    border-style: double;
    border-color: goldenrod;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 50px;
}

.praktisk-info {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    main {
        width: 80%;
    }

    .image-container {
        width: 100%;
    }
}

@media only screen and (min-width: 600px){

    main {
        width: 80%;
    }

    .image-container {
        width: 100%;
    }
    
    section {
        padding-left: 5px;
        padding-right: 5px;
}

@media only screen and (min-width: 800px){

    main {
        width: 50%;
    }

    .image-container {
        width: 70%;
    }
}

